html, body {
	height: 100%;
	background-color: #006666;
}

.wrapper {
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #006666;
	text-align: center;
	overflow: hidden;
}

.wrapper h1 {
	color: #E6FFFF;
}

.wrapper h3 {
	color: white;
}